@media only screen and (max-width: 768px) {

    [id*="BunchArea"] {
        top: 90% !important;
        width: 100% !important;
        height: auto !important;
        overflow: unset !important;
    }

    [class*="BA-CloseButton"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-IconOptions"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-IconDropdown"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex !important;
        place-content: center !important;
        height: auto !important;
    }

    [class*="BA-BunchInput"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-BunchOptions"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-BunchRename"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex !important;
        place-content: center !important;
        height: auto !important;
    }

    [class*="BA-BunchNewName"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-RenameBunch"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }
}

@media only screen and (max-height: 600px) {
    [id*="BunchArea"] {
        height: auto !important;
    }

    [class*="BA"] {
        top: 0px !important;
    }
}

#BunchArea {
    position: absolute;
    display: none;
    height: calc(100% - 52px);
    z-index: 4;
    width: 420px;
    overflow: auto;
    right: 0;
    margin-top: 52px;
    border-color: rgb(55, 58, 109);
    border-width: 2px;
    border-style: solid;
    background: url(https://poketrades.org/Resources/Designs/Sidebar.png);
}

.BA-DropdownOptions {
    font-weight: initial;
    font-family: Arial, Helvetica, sans-serif;
    /*background: #2a3757;*/
    background: #232c45;
    font-size: 14px;
}

.BA-BunchButtons {
    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    border-width: 2px;
    border-style: solid;
    background-size: contain;
    border-color: #575a87;
    text-align: center;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;
}

.BA-CloseButton {
    position: relative;
    display: block;
    width: 310px;
    top: 2px;
    margin: auto;
    cursor: pointer;
    color: #e0e0e0;
}

.BA-IconOptions {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(155px, 1fr));
    text-align: center;
    top: 5px;
    margin: auto;
    width: 335px;
    border: 0px;
}

.BA-SelectIconText {
    color: #ababab;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 20px;
    margin-bottom: 5px;
    top: 5px;
    position: relative;
}

.BA-TrioBunchText {
    color: #ababab;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    top: 28px;
    position: relative;
    display: none;
}

.BA-RenameText {
    color: #ababab;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    margin-bottom: 10px;
    top: 50px;
    position: relative;
}

.BA-GenderDropdown {
    width: -webkit-fill-available;
    width: -moz-available;
}

.BA-ShinyDropdown {
    width: -webkit-fill-available;
    width: -moz-available;
}

.BA-GameDropdown {
    width: -webkit-fill-available;
    width: -moz-available;
}

.BA-IconImage {
    position: relative;
    display: block;
    top: 15px;
    max-width: 128px;
    max-height: 128px;
    margin: auto;
}

.BA-IconDropdown {
    position: relative;
    display: block;
    top: 25px;
    width: 310px;
    height: 20px;
    ;
    margin: auto;
    margin-bottom: 30px;
}

.BA-BunchInput {
    position: relative;
    display: block;
    width: 302px;
    top: 30px;
    margin: auto;
}

.BA-BunchOptions {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(155px, 1fr));
    text-align: center;
    top: 35px;
    margin: auto;
    width: 310px;
}

.BA-AddBunch {
    cursor: pointer;
    width: -webkit-fill-available;
    width: -moz-available;
}

.BA-RemoveBunch {
    cursor: pointer;
    width: -webkit-fill-available;
    width: -moz-available;
}

.BA-BunchRename {
    position: relative;
    display: block;
    top: 50px;
    width: 310px;
    height: 20px;
    ;
    margin: auto;
}

.BA-BunchNewName {
    position: relative;
    display: block;
    width: 302px;
    top: 55px;
    margin: auto;
}

.BA-RenameBunch {
    position: relative;
    display: block;
    cursor: pointer;
    width: 310px;
    top: 60px;
    margin: auto;
}