@media only screen and (max-width: 768px) {

    [id*="BunchArea"]{
        top: 50% !important;
        height: 60% !important;
        width: 100% !important;
    }

    [class*="BA-CloseButton"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-IconOptions"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }
    
    [class*="BA-IconDropdown"] {
      width: -webkit-fill-available !important;
      width: -moz-available !important;
      left: 0% !important;
      right: 0%;
      position: relative !important;
      display: flex !important;
      place-content: center !important;
      height: auto !important;
    }

    [class*="BA-BunchInput"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-BunchOptions"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-BunchRename"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex !important;
        place-content: center !important;
        height: auto !important;
    }

    [class*="BA-BunchNewName"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }

    [class*="BA-RenameBunch"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        left: 0% !important;
        right: 0%;
        position: relative !important;
        display: flex;
        place-content: center !important;
    }
}

@media only screen and (max-height: 600px) {
    [id*="BunchArea"]{
        height: auto !important;
    }
    [class*="BA"]{
        top: 0px !important;
    }
}

#BunchArea{
    background-color: #2E2D2D;
    position: absolute; 
    display: none;
    height: 100%;
    z-index: 4;
    width:420px;
    overflow: auto;
    right: 0;
}

.BA-DropdownOptions {
    font-weight: initial;
    font-family: Arial, Helvetica, sans-serif;
    background: grey;
    font-size: 14px;
}

.BA-BunchButtons{
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-style: solid;
    border-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
    border-width: 2px;
    border-radius: 2px;
}

.BA-CloseButton{
    position: relative;
    display: block;
    width: 310px;
    top: 2px;
    margin: auto;
    cursor: pointer;
}

.BA-IconOptions{
    position: relative;
    display: grid;
    grid-template-columns: repeat( 2, minmax(155px, 1fr) );
    text-align: center;
    top: 5px;
    margin: auto;
    width: 335px;
    border: 0px;
}

.BA-SelectIconText{
    color: #ababab;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    top: 5px;
    position: relative;
}

.BA-TrioBunchText{
    color: #ababab;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    top: 28px;
    position: relative;
}

.BA-RenameText{
    color: #ababab;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    top: 50px;
    position: relative;
}

.BA-GenderDropdown{
    width: 100%; 
}
  
.BA-ShinyDropdown{
    width: 100%; 
}

.BA-IconImage{
    position: relative; 
    display: block;
    top: 15px; 
    max-width: 128px; 
    max-height: 128px;
    margin: auto;
}

.BA-IconDropdown{
    position: relative;
    display: block;
    top: 25px;
    width: 310px;
    height: 20px;;
    margin: auto;
}

.BA-BunchInput{
    position: relative;
    display: block;
    width: 302px;
    top: 30px;
    margin: auto;
}

.BA-BunchOptions{
    position: relative;
    display: grid;
    grid-template-columns: repeat( 2, minmax(155px, 1fr) );
    text-align: center;
    top: 35px;
    margin: auto;
    width: 310px;
}

.BA-AddBunch{
    cursor: pointer;
    width: 100%; 
}
  
.BA-RemoveBunch{
    cursor: pointer;
    width: 100%; 
}

.BA-BunchRename{
    position: relative;
    display: block;
    top: 50px;
    width: 310px;
    height: 20px;;
    margin: auto;
}

.BA-BunchNewName{
    position: relative;
    display: block;
    width: 302px;
    top: 55px;
    margin: auto;
}

.BA-RenameBunch{
    position: relative;
    display: block;
    cursor: pointer;
    width: 310px;
    top: 60px;
    margin: auto;
}
    