@media only screen and (max-width: 768px) {
  [id*=CreationButtonsArea]{
    grid-template-columns: repeat( 2, minmax(100px, 1fr) ) !important;
    width: 100% !important;
    left: 0% !important;
    right: 0%;
    position: relative !important;
    display: flex;
    place-content: center !important;
    top: 0% !important;
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    border-right: 0;
  }
  [class*="CA-"] {
    grid-template-columns: repeat( 2, minmax(100px, 1fr) ) !important;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    left: 0% !important;
    right: 0%;
    position: relative !important;
    display: flex;
    place-content: center !important;
    top: 0% !important;
  }

  [class*="DropdownAlign"]{
    width: 100% !important;
    left: 0% !important;
    right: 0%;
    position: relative !important;

    place-content: center !important;
    top: 0% !important;
  }

  [class*="NoteField"] {
    width: 95% !important;
    left: 0% !important;
    right: 0%;
    position: relative !important;
    display: flex;
    text-align: center !important;
    place-content: center !important;
    top: 0% !important;
    margin: auto;
  }
}


  #CreationArea{
    background-color: #2E2D2D;
    position: absolute; 
    display: none;
    top: 50%;
    height: 50%;
    z-index: 3;
    width:100%;
    overflow: auto;
}

    #CreationButtonsArea{
    /* sticky and 0; are so it acts like its fixed, as fixed has issues with overflow elements*/
    position: absolute;
    top: 0%;
    z-index: 1;    
  }

  /* All buttons have Width set to 61px and Height set to 22px (Height for border issues); for the viewing buttons to look consistent*/
  .CreationButtons{
    position: relative;
    
  }

  .CA-CloseButton{
    width: 100px !important;
    height: 22px;
    background-color: #efefef;
    border: none;
    align-items: center;
  }

  .CA-CreatePokemon{
    width: 100px !important;
    height: 22px;
    background-color: #efefef;
    border: none;
    align-items: center;
  }

  .CA-EditBunches{
    width: 100px !important;
    height: 22px;
    background-color: #efefef;
    border: none;
    align-items: center;
  }

  .CA-BunchDropdown{
    position: absolute;
    left: 340px;
    top: 5px;
    width: 200px;
  }

  .CA-HowObtained{
    position: absolute;
    width: 150px;
    left: 570px;
    top: 5px;
  }

  .CA-GameObtained{
    position: absolute;
    width: 100px;
    left: 720px;
    top: 5px;
  }

  .CA-Lang{
    position: absolute;
    width: 55px;
    left: 840px;
    top: 5px;
  }

  .CA-Gen6{
    position: absolute;
    background-color: #C83939;
    border: none;
    left: 910px;
    top: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .CA-Gen7{
    position: absolute;
    background-color: #C83939;
    border: none;
    left: 1010px;
    top: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .CA-Gen8{
    position: absolute;
    background-color: #C83939;
    border: none;
    left: 1110px;
    top: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .CA-Home{
    position: absolute;
    background-color: #C83939;
    border: none;
    left: 1210px;
    top: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .CA-PokemonImage{
    position: absolute; 
    top: 50px; 
    max-width: 128px; 
    max-height: 128px;
    left: 130px;
    margin: auto;
  }

  .CA-PokemonDropdown{
      position: absolute;
      top: 180px;
      left: 85px;
      width: 204px;
      height: 20px;;
  }

  .CA-Nickname{
    position: absolute;
    top: 205px;
    left: 85px;
    width: 196px;
}

.CA-IvText{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .CA-EvText{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .CA-IvEvText{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }


  .CA-IVsEVs{
    position: absolute;
    top: 230px;
    left: 20px;
    text-align: center;
  }



.CA-IvHP{
    width: 46px;
}

.CA-IvAtt{
    width: 46px;
}

.CA-IvDef{
    width: 46px;
}

.CA-IvSpa{
    width: 46px;
}

.CA-IvSpd{
    width: 46px;
}

.CA-IvSpe{
    width: 46px;
}

.CA-EvHP{
    width: 46px;
}

.CA-EvAtt{
    width: 46px;
}

.CA-EvDef{
    width: 46px;
}

.CA-EvSpa{
    width: 46px;
}

.CA-EvSpd{
    width: 46px;
}

.CA-EvSpe{
    width: 46px;
}

.CA-ImageAlign{
position: absolute;
display: grid;
grid-template-columns: repeat( 3, minmax(150px, 1fr) );
text-align: center;
top: 40px;
left: 382px;
width: auto;
}

.CA-DropdownImage{
    max-width: 24px; 
max-height: 24px;
}

/*Max Width and Height set for aspect scaling for images*/
.CA-BallDropdown{
  width: 100%; 
}

.CA-GenderDropdown{
  width: 100%; 
}

.CA-ShinyDropdown{
  width: 100%; 
}

.CA-MintDropdown{
  width: 100%;
}

.CA-MiscDropdown{
  width: 100%;
}

.CA-MarkDropdown{
  width: 100%;
}

.DropdownAlign{
position: absolute;
text-align: center;
top: 105px;
left: 380px;
width: 225px;
color: white;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.CA-NatureDropdown{
    width: 100%;
    height: 21px;
}

.CA-AbilityDropdown{
    width: 100%;
    height: 21px;
}

.CA-OT{
  font-size: auto;
  white-space:nowrap;
  overflow: hidden;
  width: 226px;
}

.CA-ID{
  font-size: auto;
  white-space:nowrap;
  overflow: hidden;
  width: 226px;
}

.CA-StatusDropdown{
    width: 100%;
    height: 21px;
}

.CA-EventDropdown{
    width: 100%;
    height: 21px;
}

/*Not VA as it needs to function differently in regards to dealing with long proof links*/
.CA-Proof{

font-size: auto;
white-space:nowrap;
overflow: hidden;
width: 226px;
}

.NoteField{
position: relative;
left: 634px;
top: 98px;
width: 207px;

margin-top: 5px;
margin-bottom: 5px;
}

.CA-PokemonMoves{
position: relative;
color: white;
top: 50px;
left: 800px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

  /* Grids for both normal and legacy moves, the outline is to create an illusion of a gap between them*/
  .CA-NormalMoves{
    display: grid;
    grid-template-columns: repeat( 2, minmax(100px, 1fr) );
    position: absolute;
    color: white;
    top: 107px;
    left: 880px;
    width: 400px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #9F9F9F;*/
  }

  .CA-Move1{
    width: 200px;
    height: 25px;
  }

  .CA-Move2{
    width: 200px;
    height: 25px;
  }

  .CA-Move3{
    width: 200px;
    height: 25px;
  }

  .CA-Move4{
    width: 200px;
    height: 25px;
  }

  .CA-TransferMoves{
    position: relative;
    color: white;
    top: 140px;
    left: 670px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
  }

  .CA-LegacyMoves{
    display: grid;
    grid-template-columns: repeat( 2, minmax(100px, 1fr) );
    position: absolute;
    color: white;
    top: 200px;
    left: 880px;
    width: 400px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .CA-LegacyMove1{
    width: 200px;
    height: 25px;
  }

  .CA-LegacyMove2{
    width: 200px;
    height: 25px;
  }

  .CA-LegacyMove3{
    width: 200px;
    height: 25px;
  }

  .CA-LegacyMove4{
    width: 200px;
    height: 25px;
  }

  .CA-DisplayDropdown{
    position: absolute;
    width: 204px;
    height: 20px;;
    top: 40px;
    left: 975px;
  }

