@media only screen and (max-width: 768px) {
    [id*="CTSArea"] {
        height: auto !important;
        top: 80% !important;
        width: 100% !important;
    }
}

#CTSArea {
    background-color: #1a233a;
    position: absolute;
    display: none;
    height: calc(100% - 52px);
    z-index: 2;
    width: 420px;
    right: 0;
    overflow: auto;
    margin-top: 52px;
}

.CTS-DropdownOptions {
    font-weight: initial;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 14px;
    background: #2a3757;
}

.CTS-Buttons {
    display: flex;
    /*border-style: solid;
    border-color: #5c5c5c;*/
    text-align: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    /*position: sticky;*/
    top: 0px;
    z-index: 10;
}

.CTS-ButtonDesign {
    background: #171d2c;
    border-width: 2px;
    border-style: solid;
    border-color: #2e3850;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #536c9f;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;
}

.CTS-LoadLimits {
    display: flex;
    text-align: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    /*position: sticky;*/
    top: 0px;
    z-index: 10;
    display: none;
}

.CTS-HelpSprite {
    max-width: 20px;
    max-height: 20px;
    vertical-align: top;
}

.CTS-IconOptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    text-align: center;
    width: auto;
    place-items: center;

    margin-top: 5px;
    margin-bottom: 5px;
}

.CTS-SelectedLang {
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c7b9f;
    font-size: 16px;
    height: 20px;
    cursor: pointer;
}

.CTS-SelectedBall {
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    cursor: pointer;
}

.CTS-SelectedGender {
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    cursor: pointer;
}

.CTS-SelectedShiny {
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    cursor: pointer;
}

.CTS-SelectedMint {
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    cursor: pointer;
}

.CTS-SelectedMisc {
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    cursor: pointer;
}

.CTS-SelectedMark {
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    cursor: pointer;
}

.CTS-SelectedRibbon {
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    pointer-events: initial !important;
    cursor: pointer;
}

.CTS-LangIcon {
    color: inherit;
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    margin: unset;
    padding: 0;
}

.CTS-BallIcon {
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.CTS-GenderIcon {
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.CTS-ShinyIcon {
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.CTS-MintIcon {
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.CTS-MiscIcon {
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.CTS-MarkIcon {
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.CTS-RibbonIcon {
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.CTS-OptionsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    border-radius: 9px;
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    margin-bottom: 10px;
}

.CTS-LangOptions {
    display: none;
}

.CTS-BallOptions {
    display: none;
}

.CTS-GenderOptions {
    display: none;
}

.CTS-ShinyOptions {
    display: none;
}

.CTS-MintOptions {
    display: none;
}

.CTS-MiscOptions {
    display: none;
}

.CTS-MarkOptions {
    display: none;
}

.CTS-RibbonOptions {
    display: none;
}

.CTS-PokemonDetails {
    display: flex;
    border-radius: 9px;
    background-color: #243048;
    height: 125px;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    margin-bottom: 10px;
}

.CTS-IconContainer {
    display: flex;
    /*border-radius: 30px;*/
    border-radius: 8px;
    background-color: #9f5e5e;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    height: 25px;
    width: 25px;
    text-align-last: center;
    margin-top: 4px;
    margin-bottom: 4px;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.CTS-Icon {
    max-width: 20px;
    max-height: 20px;
}

.CTS-IconButton {
    display: block;
    color: #e0e0e0;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: none;
    border: none;
    margin: auto;
}

.CTS-PokemonImage {
    display: block;
    top: 50px;
    width: 115px;
    height: 115px;
}

.CTS-PokemonDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-NicknameDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-Tables {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    border-spacing: 0px;
}

.CTS-TableText {
    background: #243048;
    text-align: end;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    width: 140px;
    display: table-cell;
    border-right-style: none;
    clip-path: inset(-5px 0px -5px -5px);
    padding: 0;
}

.CTS-AbilityDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-NatureDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-InfoHolder {
    border-radius: 9px;
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    margin-bottom: 10px;
    display: flex;
}

.CTS-Availability {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    text-align: center;
    width: auto;
}

.CTS-Gen6 {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 14px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.CTS-Gen7 {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 14px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.CTS-Gen8 {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 14px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.CTS-Home {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 14px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.CTS-GameObtainedDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-HowObtainedDropdown {
    background: #243048;
    /*width: -webkit-fill-available !important;
    width: -moz-available !important;*/
    width: 171px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-FormDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-EvoDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-OT {
    background: #243048;
    width: 148px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-ID {
    background: #243048;
    width: 148px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-StatusDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-EventDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-StatHolder {
    border-radius: 9px;
    background-color: #35425c;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    margin-bottom: 10px;
    display: flex;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.CTS-IvEvDesign {
    font-size: 15px;
    background-color: #243048;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
}

.CTS-IvText {
    color: #e0e0e0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.CTS-EvText {
    color: #e0e0e0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.CTS-IvEvText {
    color: #e0e0e0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 46px !important;
}


.CTS-IVsEVs {
    text-align: center;
    margin: auto;
}



.CTS-IvHP {
    width: 49px !important;
}

.CTS-IvAtt {
    width: 49px !important;
}

.CTS-IvDef {
    width: 49px !important;
}

.CTS-IvSpa {
    width: 49px !important;
}

.CTS-IvSpd {
    width: 49px !important;
}

.CTS-IvSpe {
    width: 49px !important;
}

.CTS-EvHP {
    width: 49px !important;
}

.CTS-EvAtt {
    width: 49px !important;
}

.CTS-EvDef {
    width: 49px !important;
}

.CTS-EvSpa {
    width: 49px !important;
}

.CTS-EvSpd {
    width: 49px !important;
}

.CTS-EvSpe {
    width: 49px !important;
}

.CTS-MovesHolder {
    border-radius: 9px;
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    margin-bottom: 10px;
}

.CTS-PokemonMoves {
    display: block;
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-NormalMoves {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    text-align: center;
    width: auto;
}

.CTS-Move1 {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-Move2 {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-Move3 {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-Move4 {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-InfoGridHolder {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    text-align: center;
    border-radius: 9px;
    background-color: #243048;
    border-width: 2px;
    border-style: solid;
    border-color: #171d2c;
    margin-bottom: 10px;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.CTS-ProofDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.CTS-NoteDropdown {
    background: #243048;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center;
    color: #e0e0e0;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}