@media only screen and (max-width: 768px) {
    [id*="DetailsArea"]{
      height: auto !important;
      top: 80% !important;
      width: 100% !important;
    }
    [class*="DA-PlaceInfo"]{
        right: unset !important;
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }
}
#DetailsArea{
    background-color: #2E2D2D;
    position: absolute; 
    display: none;
    height: 100%;
    z-index: 3;
    width: 420px;
    right: 0;
    overflow: auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(160, 160, 160);
    opacity: 1; /* Firefox */
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(160, 160, 160);
}
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(160, 160, 160);
}

.DA-DropdownOptions {
    font-weight: initial;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: grey;
}

.DA-Buttons {
   /* -webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    text-align: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;*/
    /*-webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;
    background: linear-gradient(
0deg, rgb(80 78 78), rgb(120 120 120));
    border-width: 2px;*/
    border-style: solid;
    border-color: #5c5c5c;
    text-align: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.DA-Close {
    /*-webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;*/
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.DA-Save {
    /*-webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;*/
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.DA-Place {
    /*-webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;*/
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    width: 63px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.DA-PlaceInfo{
    position: absolute;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 30px;
    right: 50px;
    text-align: center;
}

.DA-PlacePokemonText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

/*.DA-PlacePokemonClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}*/

.DA-Delete {
    /*-webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;*/
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.DA-Reset {
    /*-webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;*/
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.DA-Add {
    /*-webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;*/
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.DA-Lock {
    /*-webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;*/
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.DA-AdditionalViewings{
    -webkit-box-shadow: 0px 0px 4px #d0d0d0;
    -moz-box-shadow: 0px 5px 2px #d0d0d0;
    box-shadow: 0px 0px 8px #d0d0d0;
    background: linear-gradient(0deg, rgb(80 78 78), rgb(120 120 120));
    border-width: 2px;
    border-style: solid;
    border-color: #5c5c5c;
    text-align: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-ViewingHelp{
    max-width: 22px; 
    max-height: 22px;
    align-items: center;
    vertical-align: middle;
}

.DA-AV{
    max-width: 20px; 
    max-height: 20px;
    align-items: center;
    vertical-align: middle;
    padding-right: 10px;
}

.DA-AddAV{
    max-width: 20px; 
    max-height: 20px;
    align-items: center;
    vertical-align: middle;
}

.DA-InfoHolder{
    border-radius: 9px;
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    margin-bottom: 10px;
    display: flex;
}

.DA-Username{
    display: block;
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /*color: #FF7B2F;*/
    color: #ff9355;
    font-size: 15px;
}

.DA-BunchDropdown{
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}

.DA-ObtainedDropdowns{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    text-align: center;
    width: auto;
}

.DA-HowObtained{
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;*/
    background: #404040;
    /*width: -webkit-fill-available !important;
    width: -moz-available !important;*/
    width: 171px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-GameObtained{
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-TemplateSection{
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    border-spacing: 0px;
}

.DA-TemplateAreas{
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    text-align: end;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    display: table-cell;
    text-align-last: center;
}

.DA-TemplateHelp{
    max-width: 22px; 
    max-height: 22px;
    align-items: center;
    vertical-align: middle;
}

.DA-AddTemplate{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    border:none;
    background: center;
    width: 20px;
}

.DA-TemplateName{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    border:none;
    background: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    z-index: 2;
}

.DA-RemoveTemplate{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    border:none;
    background: center;
    width: 20px;
}

.DA-TemplateDropdown{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    border:none;
    background: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-DisplayDropdown{
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-Availability{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
    text-align: center;
    width: auto;
}

.DA-Gen6{
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc7878;
    font-size: 15px;
    padding: 0px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc7878;
    font-size: 14px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.DA-Gen7{
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc7878;
    font-size: 15px;
    padding: 0px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc7878;
    font-size: 14px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.DA-Gen8{
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc7878;
    font-size: 15px;
    padding: 0px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc7878;
    font-size: 14px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.DA-Home{
    /*-webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc7878;
    font-size: 15px;
    padding: 0px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc7878;
    font-size: 14px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

.DA-LangIcon {
    color: inherit;
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    margin: unset;
    padding: 0;
}

.DA-BallIcon{
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.DA-GenderIcon{
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.DA-ShinyIcon{
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.DA-MintIcon{
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.DA-MiscIcon{
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.DA-MarkIcon{
    vertical-align: top;
    max-height: 20px;
    max-width: 20px;
}

.DA-IconImage{
    vertical-align: top;;
    max-height: 20px;
    max-width: 20px;
}

.DA-IconText{
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.DA-IconButton{
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: none;
    border: none;
    margin: auto;
}

.DA-SelectedLang{
    /*-webkit-box-shadow: 0px 0px 4px #fc4141;
    -moz-box-shadow: 0px 5px 2px #fc4141;
    box-shadow: 0px 0px 8px #fc4141;
    background: linear-gradient(0deg, rgb(255 0 0 / 30%), rgb(255 85 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f53e3e;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #399BC8;
    font-size: 16px;
    height: 20px;
}

.DA-SelectedBall{
    /*-webkit-box-shadow: 0px 0px 4px #fc4141;
    -moz-box-shadow: 0px 5px 2px #fc4141;
    box-shadow: 0px 0px 8px #fc4141;
    background: linear-gradient(0deg, rgb(255 0 0 / 30%), rgb(255 85 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f53e3e;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-SelectedGender{
    /*-webkit-box-shadow: 0px 0px 4px #fc4141;
    -moz-box-shadow: 0px 5px 2px #fc4141;
    box-shadow: 0px 0px 8px #fc4141;
    background: linear-gradient(0deg, rgb(255 0 0 / 30%), rgb(255 85 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f53e3e;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-SelectedShiny{
    /*-webkit-box-shadow: 0px 0px 4px #fc4141;
    -moz-box-shadow: 0px 5px 2px #fc4141;
    box-shadow: 0px 0px 8px #fc4141;
    background: linear-gradient(0deg, rgb(255 0 0 / 30%), rgb(255 85 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f53e3e;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-SelectedMint{
    /*-webkit-box-shadow: 0px 0px 4px #fc4141;
    -moz-box-shadow: 0px 5px 2px #fc4141;
    box-shadow: 0px 0px 8px #fc4141;
    background: linear-gradient(0deg, rgb(255 0 0 / 30%), rgb(255 85 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f53e3e;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-SelectedMisc{
    /*-webkit-box-shadow: 0px 0px 4px #fc4141;
    -moz-box-shadow: 0px 5px 2px #fc4141;
    box-shadow: 0px 0px 8px #fc4141;
    background: linear-gradient(0deg, rgb(255 0 0 / 30%), rgb(255 85 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f53e3e;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-SelectedMark{
    /*-webkit-box-shadow: 0px 0px 4px #fc4141;
    -moz-box-shadow: 0px 5px 2px #fc4141;
    box-shadow: 0px 0px 8px #fc4141;
    background: linear-gradient(0deg, rgb(255 0 0 / 30%), rgb(255 85 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f53e3e;*/
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-LangOptions{
    display: none;
    grid-template-columns: repeat( auto-fill, minmax(45px, 1fr) );

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DA-BallOptions{
    display: none;
    grid-template-columns: repeat( auto-fill, minmax(45px, 1fr) );

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DA-GenderOptions{
    display: none;
    grid-template-columns: repeat( auto-fit, minmax(45px, 1fr) );

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DA-ShinyOptions{
    display: none;
    grid-template-columns: repeat( auto-fit, minmax(45px, 1fr) );

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DA-MintOptions{
    display: none;
    grid-template-columns: repeat( auto-fit, minmax(45px, 1fr) );

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DA-MiscOptions{
    display: none;
    grid-template-columns: repeat( auto-fit, minmax(60px, 1fr) );

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DA-MarkOptions{
    display: none;
    grid-template-columns: repeat( auto-fit, minmax(60px, 1fr) );

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DA-PokemonDetails {
    /*-webkit-box-shadow: 0px 0px 4px #fc7541;
    -moz-box-shadow: 0px 5px 2px #fc7541;
    box-shadow: 0px 0px 8px #fc7541;
    background: linear-gradient(0deg, rgb(255 71 0 / 30%), rgb(255 132 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5723e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;*/
    display: flex;
    border-radius: 9px;
    background-color: #404040;
    height: 125px;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    margin-bottom: 10px;
}

.DA-TableTest{
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-PokemonImage{
    display: block;
    top: 50px; 
    max-width: 115px; 
    max-height: 115px;
}

.DA-PokemonDropdown {
    /*-webkit-box-shadow: 0px 0px 4px #fc7541;
    -moz-box-shadow: 0px 5px 2px #fc7541;
    box-shadow: 0px 0px 8px #fc7541;
    background: linear-gradient(0deg, rgb(255 71 0 / 30%), rgb(255 132 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5723e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/

    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-Nickname {
    /*-webkit-box-shadow: 0px 0px 4px #fc7541;
    -moz-box-shadow: 0px 5px 2px #fc7541;
    box-shadow: 0px 0px 8px #fc7541;
    background: linear-gradient(0deg, rgb(255 71 0 / 30%), rgb(255 132 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5723e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-Tables{
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    border-spacing: 0px;
}

.DA-TableTextPurple {
    -webkit-box-shadow: 0px 0px 4px #6f41fc;
    -moz-box-shadow: 0px 5px 2px #6f41fc;
    box-shadow: 0px 0px 8px #6f41fc;
    background: linear-gradient(0deg, rgb(122 0 255 / 30%), rgb(135 85 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #8e3ef5;
    text-align: end;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    display: table-cell;
    text-align-last: center;
    /*border-right-style: none;
    clip-path: inset(-5px 0px -5px -5px);
    padding: 0;*/
}

.DA-TableText{
    background: #404040;
    text-align: end;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    width: 140px;
    display: table-cell;
    border-right-style: none;
    clip-path: inset(-5px 0px -5px -5px);
    padding: 0;
}

.DA-TableTextOrange {
    -webkit-box-shadow: 0px 0px 4px #fc7541;
    -moz-box-shadow: 0px 5px 2px #fc7541;
    box-shadow: 0px 0px 8px #fc7541;
    background: linear-gradient(0deg, rgb(255 71 0 / 30%), rgb(255 132 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5723e;
    text-align: end;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    width: 140px;
    display: table-cell;
    border-right-style: none;
    clip-path: inset(-5px 0px -5px -5px);
    padding: 0;
}

.DA-TableTextYellow {
    -webkit-box-shadow: 0px 0px 4px #fcd441;
    -moz-box-shadow: 0px 5px 2px #fcd441;
    box-shadow: 0px 0px 8px #fcd441;
    background: linear-gradient(0deg, rgb(255 224 0 / 30%), rgb(255 226 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5d83e;
    text-align: end;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    width: 140px;
    display: table-cell;
    border-right-style: none;
    clip-path: inset(-5px 0px -5px -5px);
}

.DA-TableTextPink {
    -webkit-box-shadow: 0px 0px 4px #f941fc;
    -moz-box-shadow: 0px 5px 2px #f941fc;
    box-shadow: 0px 0px 8px #f941fc;
    background: linear-gradient(0deg, rgb(251 0 255 / 30%), rgb(255 85 250 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #d23ef5;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    width: 140px;
    display: table-cell;
    /*border-right-style: none;
    clip-path: inset(-5px 0px -5px -5px);
    padding: 0;*/
}

.DA-TableTextGrey{
    -webkit-box-shadow: 0px 0px 4px #7b7b7b;
    -moz-box-shadow: 0px 5px 2px #7b7b7b;
    box-shadow: 0px 0px 8px #7b7b7b;
    background: linear-gradient(0deg, rgb(163 163 163 / 30%), rgb(229 227 229 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    width: 140px;
    display: table-cell;
}

.DA-AbilityDropdown {
    /*-webkit-box-shadow: 0px 0px 4px #fc7541;
    -moz-box-shadow: 0px 5px 2px #fc7541;
    box-shadow: 0px 0px 8px #fc7541;
    background: linear-gradient(0deg, rgb(255 71 0 / 30%), rgb(255 132 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5723e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin: -1px;
    height: 25px;
    border-left-style: none;
    clip-path: inset(-5px -5px -5px 0px);
    padding-top: 1px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-NatureDropdown {
    /*-webkit-box-shadow: 0px 0px 4px #fc7541;
    -moz-box-shadow: 0px 5px 2px #fc7541;
    box-shadow: 0px 0px 8px #fc7541;
    background: linear-gradient(0deg, rgb(255 71 0 / 30%), rgb(255 132 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5723e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin: -1px;
    height: 25px;
    border-left-style: none;
    clip-path: inset(-5px -5px -5px 0px);*/
    /*padding-top: 1px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-OT {
    /*-webkit-box-shadow: 0px 0px 4px #fcd441;
    -moz-box-shadow: 0px 5px 2px #fcd441;
    box-shadow: 0px 0px 8px #fcd441;
    background: linear-gradient(0deg, rgb(255 224 0 / 30%), rgb(255 226 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5d83e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin: -1px;
    border-left-style: none;
    clip-path: inset(-5px -5px -5px 0px);
    padding-top: 1px;*/
    background: #404040;
    width: 148px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-ID {
    /*-webkit-box-shadow: 0px 0px 4px #fcd441;
    -moz-box-shadow: 0px 5px 2px #fcd441;
    box-shadow: 0px 0px 8px #fcd441;
    background: linear-gradient(0deg, rgb(255 224 0 / 30%), rgb(255 226 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5d83e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin: -1px;
    border-left-style: none;
    clip-path: inset(-5px -5px -5px 0px);
    padding-top: 1px;*/
    background: #404040;
    width: 148px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-StatusDropdown {
    /*-webkit-box-shadow: 0px 0px 4px #fcd441;
    -moz-box-shadow: 0px 5px 2px #fcd441;
    box-shadow: 0px 0px 8px #fcd441;
    background: linear-gradient(0deg, rgb(255 224 0 / 30%), rgb(255 226 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5d83e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin: -1px;
    height: 25px;
    border-left-style: none;
    clip-path: inset(-5px -5px -5px 0px);
    padding-top: 1px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-EventDropdown {
    /*-webkit-box-shadow: 0px 0px 4px #fcd441;
    -moz-box-shadow: 0px 5px 2px #fcd441;
    box-shadow: 0px 0px 8px #fcd441;
    background: linear-gradient(0deg, rgb(255 224 0 / 30%), rgb(255 226 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #f5d83e;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin: -1px;
    height: 25px;
    border-left-style: none;
    clip-path: inset(-5px -5px -5px 0px);*/
    /*padding-top: 1px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-StatHolder{
    /*-webkit-box-shadow: 0px 0px 4px #41fc7b;
    -moz-box-shadow: 0px 5px 2px #41fc7b;
    box-shadow: 0px 0px 8px #41fc7b;
    background: linear-gradient(
0deg, rgb(51 255 0 / 30%), rgb(255 226 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3ef56f;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    border-radius: 9px;
    /*background-color: #404040;*/
    background-color: #7e7e7e;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    margin-bottom: 10px;
    display: flex;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.DA-IvEvDesign{
    /*-webkit-box-shadow: 0px 0px 4px #41fc7b;
    -moz-box-shadow: 0px 5px 2px #41fc7b;
    box-shadow: 0px 0px 8px #41fc7b;
    background: linear-gradient(
0deg, rgb(51 255 0 / 30%), rgb(255 226 85 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3ef56f;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    font-size: 15px;
    background-color: #404040;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.DA-IvText{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.DA-EvText{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.DA-IvEvText{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 46px !important;
}


.DA-IVsEVs{
    text-align: center;
    margin: auto;
}



.DA-IvHP{
    width: 49px !important;
}

.DA-IvAtt{
    width: 49px !important;
}

.DA-IvDef{
    width: 49px !important;
}

.DA-IvSpa{
    width: 49px !important;
}

.DA-IvSpd{
    width: 49px !important;
}

.DA-IvSpe{
    width: 49px !important;
}

.DA-EvHP{
    width: 49px !important;
}

.DA-EvAtt{
    width: 49px !important;
}

.DA-EvDef{
    width: 49px !important;
}

.DA-EvSpa{
    width: 49px !important;
}

.DA-EvSpd{
    width: 49px !important;
}

.DA-EvSpe{
    width: 49px !important;
}

.DA-MovesHolder{
    border-radius: 9px;
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    margin-bottom: 10px;
}

.DA-LegacyMovesHolder{
    border-radius: 9px;
    background-color: #404040;
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    margin-bottom: 10px;
}

.DA-PokemonMoves {
    /*display: block;
    -webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    display: block;
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-NormalMoves{
    display: grid;
    grid-template-columns: repeat( 2, minmax(100px, 1fr) );
    text-align: center;
    width: auto;
}

.DA-Move1{
    /*-webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-Move2{
    /*-webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-Move3{
    /*-webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-Move4{
    /*-webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-TransferMoves {
    /*display: block;
    -webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    display: block;
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-LegacyMoves{
    display: grid;
    grid-template-columns: repeat( 2, minmax(100px, 1fr) );
    text-align: center;
    width: auto;
}

.DA-LegacyMove1{
    /*-webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-LegacyMove2{
    /*-webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-LegacyMove3{
    /*-webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-LegacyMove4{
    /*-webkit-box-shadow: 0px 0px 4px #4194fc;
    -moz-box-shadow: 0px 5px 2px #4194fc;
    box-shadow: 0px 0px 8px #4194fc;
    background: linear-gradient(0deg, rgb(0 114 255 / 30%), rgb(85 192 255 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #3eb8f5;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;*/
    /*height: 25px;
    line-height: 25px;*/
    background: #404040;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.DA-Proof{
    /*-webkit-box-shadow: 0px 0px 4px #f941fc;
    -moz-box-shadow: 0px 5px 2px #f941fc;
    box-shadow: 0px 0px 8px #f941fc;
    background: linear-gradient(0deg, rgb(251 0 255 / 30%), rgb(255 85 250 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #d23ef5;*/
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    -webkit-box-shadow: 0px 0px 4px #7b7b7b;
    -moz-box-shadow: 0px 5px 2px #7b7b7b;
    box-shadow: 0px 0px 8px #7b7b7b;
    background: linear-gradient(0deg, rgb(163 163 163 / 30%), rgb(229 227 229 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
}

.DA-ToggleProof{
    display: block;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: none;
    border: none;
    margin: auto;
    padding-top: 0;
}

.DA-ProofURL {
    /*-webkit-box-shadow: 0px 0px 4px #f941fc;
    -moz-box-shadow: 0px 5px 2px #f941fc;
    box-shadow: 0px 0px 8px #f941fc;
    background: linear-gradient(0deg, rgb(251 0 255 / 30%), rgb(255 85 250 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #d23ef5;*/
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    -webkit-box-shadow: 0px 0px 4px #7b7b7b;
    -moz-box-shadow: 0px 5px 2px #7b7b7b;
    box-shadow: 0px 0px 8px #7b7b7b;
    background: linear-gradient(0deg, rgb(163 163 163 / 30%), rgb(229 227 229 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-size: auto;
    white-space: nowrap;
    overflow: hidden;
    margin: -1px;
    /*border-left-style: none;
    clip-path: inset(-5px -5px -5px 0px);
    padding-top: 1px;*/
}

.DA-LinkRedirector{
    display: none;
    width: 220px;
    margin: auto;
  }

.DA-ProofImage{
    display: none;

    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.DA-ProofVideo{
    display: none;

    max-width: 200px !important;
    max-height: 200px !important;
    margin: auto;
}

.DA-Note {
    -webkit-box-shadow: 0px 0px 4px #7b7b7b;
    -moz-box-shadow: 0px 5px 2px #7b7b7b;
    box-shadow: 0px 0px 8px #7b7b7b;
    background: linear-gradient(0deg, rgb(163 163 163 / 30%), rgb(229 227 229 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #949494;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #bfbfbf;
    font-size: 15px;
    display: flex;
    overflow: hidden;
}

.DA-IconOptions{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
    text-align: center;
    width: auto;
    place-items: center;

    /*-webkit-box-shadow: 0px 0px 4px #7b7b7b;
    -moz-box-shadow: 0px 5px 2px #7b7b7b;
    box-shadow: 0px 0px 8px #7b7b7b;
    background: linear-gradient(0deg, rgb(163 163 163 / 30%), rgb(229 227 229 / 20%));
    border-width: 2px;
    border-style: solid;
    border-color: #949494;*/
    margin-top: 5px;
    margin-bottom: 5px;
}