@media only screen and (max-width: 768px) {
    [id*="FilterArea"] {
        top: 80% !important;
        height: auto !important;
        width: 100% !important;
    }

    [class*="FA"] {
        top: 0px !important;
    }
}

@media only screen and (max-height: 600px) {
    [id*="FilterArea"] {
        height: auto !important;
    }
}

#FilterArea {
    position: absolute;
    display: none;
    height: calc(100% - 52px);
    z-index: 6;
    width: 420px;
    right: 0;
    overflow: auto;
    margin-top: 52px;
    border-color: rgb(55, 58, 109);
    border-width: 2px;
    border-style: solid;
    background: url(https://poketrades.org/Resources/Designs/Sidebar.png);
}

.FA-TopRow {
    position: relative;
    text-align: center;
    margin: auto;
}

.FA-CloseButton {
    cursor: pointer;
}

.FA-ResetButton {
    cursor: pointer;
}

.FA-Display {
    width: 155px;
}

.FA-FilterOptions {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(155px, 1fr));
    text-align: center;
    top: 10px;
    margin: auto;
    width: 350px;
}

.FA-FilterButtons {
    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    border-width: 2px;
    border-style: solid;
    background-size: contain;
    border-color: #575a87;
    text-align: center;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;
    margin: 4px;
}

.FA-DropdownOptions {
    font-weight: initial;
    font-family: Arial, Helvetica, sans-serif;
    background: #232c45;
    font-size: 14px;
}

.FA-FilterBall {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterShiny {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterGender {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterMint {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterMisc {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterMark {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterType {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterRibbon {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterLanguage {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterNature {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterAbility {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterStatus {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterEvent {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterMove {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterHowObtained {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterGameObtained {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterNote {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterProof {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterOT {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-FilterID {
    width: -webkit-fill-available;
    width: -moz-available;
}

.FA-IvText {
    color: #e0e0e0;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.FA-EvText {
    color: #e0e0e0;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.FA-IvEvText {
    color: #e0e0e0;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.FA-IVsEVs {
    position: relative;
    text-align: center;
    top: 20px;
    margin: auto;
}



.FA-IvHP {
    width: 48px;
}

.FA-IvAtt {
    width: 48px;
}

.FA-IvDef {
    width: 48px;
}

.FA-IvSpa {
    width: 48px;
}

.FA-IvSpd {
    width: 48px;
}

.FA-IvSpe {
    width: 48px;
}

.FA-EvHP {
    width: 48px;
}

.FA-EvAtt {
    width: 48px;
}

.FA-EvDef {
    width: 48px;
}

.FA-EvSpa {
    width: 48px;
}

.FA-EvSpd {
    width: 48px;
}

.FA-EvSpe {
    width: 48px;
}

.FA-Availability {
    display: none;
    position: relative;
    text-align: center;
    top: 40px;
    margin: auto;
    /*width: 310px;*/
}

.FA-Gen6 {
    cursor: pointer;
    margin: auto;
}

.FA-Gen7 {
    cursor: pointer;
    margin: auto;
}

.FA-Gen8 {
    cursor: pointer;
    margin: auto;
}

.FA-Home {
    cursor: pointer;
    margin: auto;
}

.FA-Trade {
    color: #e0e0e0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}