@media only screen and (max-width: 768px) {
    [id*="ImportArea"] {
        height: auto !important;
        top: 80% !important;
        width: 100% !important;
    }
}

#ImportArea {
    /*background-color: #1a233a;*/
    position: absolute;
    display: none;
    height: calc(100% - 52px);
    z-index: 1;
    width: 420px;
    overflow: auto;
    right: 0;
    margin-top: 52px;
    border-color: rgb(55, 58, 109);
    border-width: 2px;
    border-style: solid;
    background: url(https://poketrades.org/Resources/Designs/Sidebar.png);
}

.Import-Buttons {
    display: flex;
    /*border-style: solid;
    border-color: #5c5c5c;*/
    text-align: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.Import-ButtonDesign {
    border-width: 2px;
    border-style: solid;
    border-color: #2e3850;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dbdbdb;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;

    border-radius: 5px;
    background: url(https://poketrades.org/Resources/Designs/Stat_Data_Holder.png);
    background-size: contain;
    border-color: #3d429c;
}

.Import-InfoArea {
    background: #2a3267;
    border-width: 2px;
    border-style: solid;
    border-color: #585858;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-family: monospace;
    color: #e2e2e2;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;
    margin-top: 20px;
}

.Import-InfoSprite {
    max-width: 20px;
    max-height: 20px;
    vertical-align: top;
}