@media only screen and (max-width: 768px) {
    [id*="InformationArea"] {
        height: auto !important;
        top: 80% !important;
        width: 100% !important;
    }
}

#InformationArea {
    background: url('https://poketrades.org/Resources/Designs/Sidebar.png');
    position: absolute;
    display: none;
    height: calc(100% - 52px);
    z-index: 5;
    width: 420px;
    overflow: auto;
    right: 0;
    margin-top: 52px;
    border-color: #373a6d;
    border-width: 2px;
    border-style: solid;
}

.IA-DropdownOptions {
    font-weight: initial;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    background: #232c45;
}

.IA-Buttons {
    display: flex;
    /*border-style: solid;
    border-color: #5c5c5c;*/
    text-align: center;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    /*position: sticky;*/
    top: 0px;
    z-index: 10;
    margin-bottom: 8px;
}

.IA-ButtonDesign {
    background: #171d2c;
    border-width: 2px;
    border-style: solid;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dbdbdb;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;

    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    background-size: contain;
    border-color: #3d429c;
}

.IA-ShinySprite {
    max-width: 20px;
    max-height: 20px;
    vertical-align: top;
}

.IA-InfoSprite {
    max-width: 20px;
    max-height: 20px;
    vertical-align: top;
}

.IA-InfoButton {
    display: none;
}

.IA-PokemonDetails {
    display: flex;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    background: url('https://poketrades.org/Resources/Designs/Main_Data_Holder.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-color: #3d429c;
}

.IA-DexText {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 46px !important;
    position: absolute;
    bottom: 4px;
}

.IA-AbilityText {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    border: 0px;
    /*margin-top: 4px;*/
    margin-bottom: 5px;
    display: block;
}

.IA-MaleGenderText {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #97c3f9;
    font-size: 12px;
    border: 0px;
}

.IA-FemaleGenderText {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #f99797;
    font-size: 12px;
    border: 0px;
}

.IA-GenderlessText {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #d4d4d4;
    font-size: 12px;
    border: 0px;
}

.IA-InfoTable {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.IA-Tables {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    border-spacing: 0px;
}

.IA-InfoText {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 11px;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
}

.IA-PokemonDropdown {
    background: none;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 20px;
}

.IA-PokemonName {
    background: none;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 20px;
    display: block;
}


.IA-PokemonImage {
    display: block;
    top: 50px;
    max-width: 115px;
    max-height: 115px;
    padding-top: 20px;
}

.IA-TypeIcon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 3px;
}

.IA-StandardImage {
    display: block;
    top: 50px;
    max-width: 80px;
    max-height: 80px;
    margin: auto;
}

.IA-Stats {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.IA-StatText {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 46px !important;
}

.IA-StatDesign {
    font-size: 15px;
    background-color: #19213285;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    appearance: none;
    pointer-events: none;
    width: 46px !important;
}

#IA-InfoSection {
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
}

.IA-StatsInfo {
    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    background-size: contain;
    box-shadow: #3d429c 0px 0px 0px 2px inset;
}

.IA-EvoTitleText {
    overflow: hidden;
    display: block;
    position: relative;
    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    background-size: contain;
    box-shadow: #3d429c 0px 0px 0px 2px inset;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.IA-InfoGrid {
    display: grid;
    /* auto-fill into of auto-fit so it starts from the corner of the screen*/
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    /* needing to prevent bunches and to an slight extent mons looking crowded*/
    grid-gap: 1rem;
    place-items: center;
    /*background-color: #163944;*/
}

.IA-InfoHolder {
    overflow: hidden;
    display: block;
    position: relative;
    /*cursor: pointer;*/
    border-radius: 15px;
    text-align: center;
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    border-width: 2px;
    border-style: solid;

    border-color: #3d429c;
    box-shadow: #3d429c 0px 0px 0px 2px inset;
    background: url('https://poketrades.org/Resources/Designs/Info_Data_Holder.png');
    background-size: cover;
    border: none;
    background-position: center;
    max-width: 130px;
    margin-bottom: 10px;
}

.IA-InteractableHolder {
    overflow: hidden;
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    border-width: 2px;
    border-style: solid;

    border-color: #3d429c;
    box-shadow: #3d429c 0px 0px 0px 2px inset;
    background: url('https://poketrades.org/Resources/Designs/Interactive_Data_Holder.png');
    background-size: cover;
    border: none;
    background-position: center;
    max-width: 130px;
    margin-bottom: 10px;
}