#LoginArea{
    display: none;
    position: absolute;
    background-color: #C0C0C0;
    height: 400px;
    width: 200px;
    top: 50px;
    right: 0%;
    z-index: 1;
}

.LA-LoginClose{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.LA-LoginArea{
    position: relative;
    display: none;
    height: inherit;
}

.LA-LoginText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.LA-LoginUsername{
    position: relative;
    top: 50px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-LoginPassword{
    position: relative;
    top: 63px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-LoginFailed{
    position: relative;
    color: #C83939;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 102px;
    width: 100%;
    text-align: center;
}

.LA-LoginButton{
    position: relative;
    top: 76px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-LoginRegisterButton{
    position: relative;
    top: 89px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-LoggedInArea{
    position: relative;
    display: none;
    height: inherit;
}

.LA-LoggedInText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.LA-Username{
    position: relative;
    display: block;
    color: #0b8fcc;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 20px;
    text-align: center;
}

.LA-LogOut{
    position: relative;
    display: block;
    top: 30px;
    margin: auto;
    text-align: center;
}

.LA-ChangeDetails{
    position: relative;
    top: 45px;
    left: 10px;
    text-align: center;
    width: 180px;
}

.LA-Import{
    position: relative;
    top: 63px;
    left: 10px;
    text-align: center;
    width: 66px;
}

.LA-ImportInput{
    position: relative;
    visibility: hidden;
}

.LA-Export{
    position: relative;
    top: 63px;
    left: 54px;
    text-align: center;
    width: 66px;
}

.LA-LoggedInNotify{
    position: relative;
    display: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 78px;
    left: 10px;
    text-align: center;
    width: 180px;
}

.LA-DeleteAllData{
    position: relative;
    display: block;
    top: 95px;
    text-align: center;
    margin: auto;
}

.LA-PreviewSettings{
    position: absolute;
    display: block;
    top: 320px;
    width: 100%;
    text-align: center;
}

.LA-RegisterArea{
    position: relative;
    display: none;
    height: inherit;
}

.LA-CreateAccount{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
    margin: auto;
}

.LA-RegisterUsername{
    position: relative;
    top: 50px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-RegisterPassword{
    position: relative;
    top: 63px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-RegisterConfirmPassword{
    position: relative;
    top: 76px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-RegisterButton{
    position: relative;
    top: 89px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-RegisterBackButton{
    position: relative;
    top: 102px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-RegisterFailed{
    position: relative;
    width: 200px;
    color: #C83939;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 115px;
    text-align: center;
}

.LA-UpdateArea{
    position: relative;
    display: none;
    height: inherit;
}

.LA-UpdateText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.LA-UpdateUsername{
    position: relative;
    top: 20px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-OldPassword{
    position: relative;
    top: 33px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-NewPassword{
    position: relative;
    top: 46px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-ConfirmNewPassword{
    position: relative;
    top: 59px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-ConfirmUpdate{
    position: relative;
    top: 72px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-UpdateBackButton{
    position: relative;
    top: 85px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-UpdateFailed{
    position: relative;
    width: 200px;
    color: #C83939;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 98px;
    text-align: center;
}

.LA-PreviewArea{
    position: relative;
    display: none;
    height: inherit;
}

.LA-PreviewText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.PreviewAlign{
    position: relative;
    top: 30px;
    margin: auto;
}

.LA-BallImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-GenderImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-ShinyImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-MintImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-MiscImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-MarkImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-IVsText{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.LA-PreviewClose{
    position: absolute;
    top: 295px;
    left: 85px;
}