@media only screen and (max-width: 768px) {
    [id*="LoginArea"]{
        top: 72% !important;
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        border-bottom-left-radius: unset !important;
        border-bottom-right-radius: unset!important;
    }
}

#LoginArea{
    display: none;
    position: absolute;
    background: rgb(192 192 192 / 95%);
    z-index: 1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 380px;
    min-height: 355px;
    right: 0%;
    padding: 10px;
    margin: 10px;
}

.LA-LoginClose{
    position: relative;
    display: block;
    top: 195px;
    width: 100px;
    text-align: center;
    margin:auto
}

.LA-LoginArea{
    position: relative;
    display: none;
    height: inherit;
    text-align: center;
}

.LA-LoginText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.LA-LoginUsername{
    position: relative;
    top: 50px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-LoginPassword{
    position: relative;
    top: 63px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-LoginFailed{
    position: relative;
    display: none;
    color: #C83939;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 102px;
    width: 100%;
}

.LA-LoginButton{
    position: relative;
    top: 76px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-LoginRegisterButton{
    position: relative;
    top: 89px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-LoggedInArea{
    position: relative;
    display: none;
    height: inherit;
}

.LA-LoggedInText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.LA-Username{
    position: relative;
    display: block;
    color: #397d9c;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 20px;
    text-align: center;
}

.LA-LogOut{
    position: relative;
    display: block;
    top: 30px;
    margin: auto;
    text-align: center;
}

.LA-ChangeDetails{
    position: relative;
    display: block;
    top: 45px;
    text-align: center;
    margin: auto;
}

.LA-ImportExportButtons{
    position: relative;
    width: 70%;
    text-align-last: center;
    top: 70px;
    margin: auto;
}

/*.LA-Import{
    position: relative;
    top: 63px;
    left: 117px;
    text-align: center;
    width: 66px;
}*/

.LA-ImportInput{
    position: relative;
    visibility: hidden;
}

/*.LA-Export{
    position: relative;
    top: 63px;
    left: 188px;
    text-align: center;
    width: 66px;
}*/

.LA-LoggedInNotify{
    position: relative;
    display: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 78px;
    left: 10px;
    text-align: center;
    /*width: 180px;*/
}

.LA-DeleteAllData{
    position: relative;
    display: block;
    top: 95px;
    text-align: center;
    margin: auto;
}

/*.LA-PreviewSettings{
    position: absolute;
    display: block;
    top: 320px;
    width: 100%;
    text-align: center;
}*/

.LA-RegisterArea{
    position: relative;
    display: none;
    height: inherit;
}

.LA-CreateAccount{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
    margin: auto;
}

.LA-RegisterUsername{
    position: relative;
    top: 50px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-RegisterPassword{
    position: relative;
    top: 63px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-RegisterConfirmPassword{
    position: relative;
    top: 76px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-RegisterButton{
    position: relative;
    top: 89px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-RegisterBackButton{
    position: relative;
    top: 102px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-RegisterFailed{
    position: relative;
    display: block;
    margin: auto;
    color: #C83939;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 115px;
    text-align: center;
}

.LA-UpdateArea{
    position: relative;
    display: none;
    height: inherit;
}

.LA-UpdateText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.LA-UpdateUsername{
    position: relative;
    top: 20px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-OldPassword{
    position: relative;
    top: 33px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-NewPassword{
    position: relative;
    top: 46px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-ConfirmNewPassword{
    position: relative;
    top: 59px;
    width: 80%;
    display: block;
    margin: auto;
}

.LA-ConfirmUpdate{
    position: relative;
    top: 72px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-UpdateBackButton{
    position: relative;
    top: 85px;
    width: 50%;
    display: block;
    margin: auto;
}

.LA-UpdateFailed{
    position: relative;
    display: block;
    margin: auto;
    color: #C83939;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 98px;
    text-align: center;
}

.LA-PreviewText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.LA-BallImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-GenderImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-ShinyImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-MintImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-MiscImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-MarkImage{
    max-width: 24px;
    max-height: 24px;
}

.LA-IVsText{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.LA-PreviewClose{
    position: absolute;
    top: 295px;
    left: 85px;
}