@media only screen and (max-width: 768px) {

    [class*="MA-MainTextHolder"]{
        width: 90% !important;
        margin: auto;
    }

    [class*="MainSection"]{
        margin-right: 0% !important;
    }

    [class*="StartingSections"]{
        width: 100% !important;
        grid-gap: 0rem !important;
    }
}

@media only screen and (max-width: 768px) {
    [class*="MA-PokeTradesTextIcon"]{
        width: 100% !important;
    }
    [class*="TradingAreas"]{
        grid-gap: 1rem;
        width: 100% !important;
        top: 20px !important;
    }
    [class*=MA-ForTradeImage]{
        max-width: 100% !important;
    }
    [class*=MA-LookingForImage]{
        max-width: 100% !important;
    }
    [class*="ForTradeText"]{
        font-size: 20px !important;
    }
    [class*="LookingForText"]{
        font-size: 20px !important;
    }
    [class*="MA-SearchInfo"]{
        top: 35px !important;
    }
    [class*="MA-Message"]{
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        top: 50px !important;
        font-size: initial !important;
    }
    [class*="MA-TutorialAndDiscord"]{
        width: 100% !important;
    }
}


#Background{
    position: fixed;
    background-image: url('https://poketrades.org/Resources/Designs/Background.png');
    background-size: contain;
    width: 100%;
    height: 100%;
  }

#MainArea{
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
}

.TableHolder{
    display: block;
    height: 100%;
    width: 100%;
}

.MA-MainTextHolder{
    position: relative;
    width: 100%;
    text-align: center;
    top: 0%;
}

.MA-LoginButton{
    position: absolute;
    top: 0%;
    right: 0%;
    max-width: 48px;
    max-height: 48px;
    visibility: hidden;
}

.MainSection{
    margin-right: 420px;
}

.StartingSections{
    display: grid;
    grid-template-columns: repeat( 3, minmax(100px, 1fr) );
    text-align: center;
    justify-items: center;
    width: 70%;
    top: 60px;
    margin: auto;
    position: relative;
    grid-gap: 0rem;
    /*z-index: -1;*/
}

.MA-SettingsImage{
    position: relative;
    max-width: 100%;
}

.MA-SearchTradeShopsImage{
    position: relative;
    max-width: 100%;
}

.MA-UserLoginImage{
    position: relative;
    max-width: 100%;
}

.MA-FAQImage{
    position: relative;
    max-width: 100%;
}

.MA-ImportingTradeShopImage{
    position: relative;
    max-width: 100%;
}

.MA-OtherImage{
    position: relative;
    max-width: 100%;
}

.MA-TrackingImage{
    position: relative;
    max-width: 100%;
    display: none;
}

.MA-Text{
    position: relative;
    display: block;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    width: 100%;
}

.TradingAreas{
    display: grid;
    grid-template-columns: repeat( 2, minmax(100px, 1fr) );
    position: relative;
    text-align: center;
    justify-items: center;
    width: 70%;
    top: 50px;
    margin: auto;
    /*z-index: -1;*/
}

.MA-PokeTradesTextIcon{
    position: relative;
    top: 10px;
    max-height: 500px;
    max-width: 500px;
}


/* Removing the arrows at the end of the search bar that appears with the numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}