@media only screen and (max-width: 768px) {
    [id*="Background"] {
        height: 120% !important;
    }

    [class*="MA-MainTextHolder"] {
        width: 90% !important;
        margin: auto;
    }

    [class*="MainSection"] {
        margin-right: 0% !important;
    }

    [class*="StartingSections"] {
        /*width: 80% !important;*/
        grid-gap: 3rem !important;
    }
}

@media only screen and (max-width: 768px) {
    [class*="MA-PokeTradesTextIcon"] {
        width: 100% !important;
    }

    [class*="TradingAreas"] {
        grid-gap: 1rem;
        width: 100% !important;
        top: 20px !important;
    }

    [class*=MA-ForTradeImage] {
        max-width: 100% !important;
    }

    [class*=MA-LookingForImage] {
        max-width: 100% !important;
    }

    [class*="ForTradeText"] {
        font-size: 20px !important;
    }

    [class*="LookingForText"] {
        font-size: 20px !important;
    }

    [class*="MA-SearchInfo"] {
        top: 35px !important;
    }

    [class*="MA-TutorialAndDiscord"] {
        width: 100% !important;
    }
}


#Background {
    position: fixed;
    background: url('https://poketrades.org/Resources/Designs/Poketrades_Background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    /*background-color: #243048;*/
}

#MainArea {
    position: absolute;
    /*height: 100%;*/
    width: 100%;
    /*overflow: hidden;*/
    display: block;
    top: 52px;
}

.MA-TopRow {
    /*width: 100%;
    height: 50px;
    background-color: #171d2c;
    border-style: unset;
    border-bottom-style: solid;
    border-color: #141a28;
    position: fixed;
    z-index: 10;*/


    width: -webkit-fill-available !important;
    width: -moz-available !important;
    height: 36px;
    position: fixed;
    z-index: 10;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    border-radius: 5px;
    border-color: #373a6d;
    background: url('https://poketrades.org/Resources/Designs/Sidebar.png');

}

.MA-TitleText {
    /*color: #485e8b;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;*/
    /*color: #485e8b;*/
    color: #a0a0a0;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    margin: auto;
    display: flex;
    height: inherit;
    align-items: center;
    position: absolute;
}

.MA-ButtonTable {
    color: #485e8b;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 20px;
    margin: auto;
    display: flex;
    height: inherit;
    align-items: center;
    position: absolute;
    right: 0;
}

.MA-TopRowImage {
    border-style: solid;
    border-radius: 9px;
    /*width: 40px;*/
    width: 28px;
    vertical-align: middle;
    margin: 5px;
    /*border-color: #35405b;*/
    border-color: rgb(160 160 160);
    padding: 1px;
    cursor: pointer;
}

.MA-AlertIcon {
    position: absolute;
    top: 20px;
    left: 84px;
    width: 7px;
    height: 7px;
    background: #0099ba;
    border: none;
    border-radius: 80px;
    padding: 0px;
    box-shadow: 0px 0px 8px #00f3ff;
    display: none;
}

.TableHolder {
    display: block;
    height: 100%;
    width: 100%;
}

.MA-MessageBlock {
    border-color: #6799cd;
    border-width: 2px;
    border-style: solid;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 13px;
    margin-right: -5px;
    font-size: 14px;
    font-family: monospace;
    color: #a0a0a0;
    background: #1e1e1e;
    display: inline-block;
    display: none;
}

.MA-MessageText {
    vertical-align: sub;
    padding: 3px;
}

.MA-MessageArrow {
    display: inline-block;
    display: none;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid #6799cd;
}

.MA-MainTextHolder {
    position: relative;
    width: 100%;
    text-align: center;
    top: 0%;
    display: none;
}

.MA-LoginButton {
    position: absolute;
    top: 0%;
    right: 0%;
    max-width: 48px;
    max-height: 48px;
    visibility: hidden;
}

.MainSection {
    margin-right: 420px;
}

.StartingSections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    justify-items: center;
    width: 100%;
    top: 60px;
    margin: auto;
    position: relative;
    grid-gap: 2rem;
    /* z-index: -1;*/
    padding-bottom: 10px;
}

.MA-SectionDiv {
    width: 300px;
    height: 150px;
    /*background: #c2d0e07a;
    box-shadow: rgb(78 88 103) 5px 5px 0px 1px;*/
    border-radius: 10px;
    /*background: #131926;*/
    box-shadow: rgb(0 0 0) 5px 5px 0px 1px;
    padding: 5px;
    cursor: pointer;
}


/*.MA-SectionDiv:hover {
    background: #1212127a;
}*/

.MA-Divider {
    width: 100%;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    color: #b1b1b1;
}

.MA-SectionText {
    /*color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 50%;
    display: flex;*/
    color: #e0e0e0;
    font-size: 15px;
    font-family: monospace;
    display: flex;
    font-weight: bold;
    place-content: center;
}

.MA-SectionHolderDiv {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    text-align: center;
    width: auto;
    align-items: center;
}

.MA-SectionTable {
    width: 100%;
}

.MA-SectionImage {
    /*width: -webkit-fill-available !important;
    width: -moz-available !important;*/
    width: 135px;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(19%) sepia(53%) saturate(496%) hue-rotate(185deg) brightness(92%) contrast(94%);
    visibility: hidden;
}

.MA-SectionTitleText {
    color: #dadada;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    place-content: center;
}

.MA-InfoText {
    color: #61759e;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    place-content: center;
}

.MA-SectionCTSTitleText {
    color: #e0e0e0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    place-content: center;
}

.MA-CTS {
    background: url("https://poketrades.org/Resources/Designs/CTSContainer.png");
    background-size: cover;
}

.MA-SearchTradeShops {
    background: url("https://poketrades.org/Resources/Designs/MainSearchContainer.png");
    background-size: cover;
}

.MA-PokemonData {
    background: url("https://poketrades.org/Resources/Designs/PokemonDataContainer.png");
    background-size: cover;
}

.MA-ImportTradeSheet {
    background: url("https://poketrades.org/Resources/Designs/PokemonImportContainer.png");
    background-size: cover;
}

.MA-BallLegality {
    background: url("https://poketrades.org/Resources/Designs/BallLegality.png");
    background-size: cover;
}

.MA-Giveaway {
    display: none;
}

.MA-Tracker {
    background: url("https://poketrades.org/Resources/Designs/ProgressTracker.png");
    background-size: cover;
}

.MA-SettingsImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.MA-SearchTradeShopsImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.MA-UserLoginImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.MA-FAQImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.MA-ImportingTradeShopImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.MA-PokemonDataImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.MA-CTSImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
    /*pointer-events: none;*/
}

.MA-OtherImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.MA-TrackingImage {
    position: relative;
    max-width: 100%;
    cursor: pointer;
    display: none;
}

.MA-Text {
    position: relative;
    display: block;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    width: 100%;
}

.TradingAreas {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    position: relative;
    text-align: center;
    justify-items: center;
    width: 70%;
    top: 50px;
    margin: auto;
    /*z-index: -1;*/
}

.MA-PokeTradesTextIcon {
    position: relative;
    top: 10px;
    max-height: 500px;
    max-width: 500px;
}

/* Removing the arrows at the end of the search bar that appears with the numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    /*-moz-appearance: textfield;*/
    appearance: textfield;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #141926;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(52 63 95);
    border-radius: 2px;
    border-color: #141926;
    border-style: solid;
    border-width: 0.2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2c3551;
}