@media only screen and (max-width: 768px) {
    [class*="SelectionHelp"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="ViewingAdditionalHelp"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        top: 50% !important;
    }

    [class*="ViewingConfirmDelete"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="ViewingPokemonAdded"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="CreationPokemonError"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="BunchIconError"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="TemplateHelpInfo"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        top: 50% !important;
        right: unset !important;
    }

    [class*="TemplateAdded"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        top: 50% !important;
        right: unset !important;
    }

    [class*="TemplateRemoved"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        top: 50% !important;
        right: unset !important;
    }

    [class*="TemplateAddedError"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        top: 50% !important;
        right: unset !important;
    }

    [class*="TemplateRemovedError"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        top: 50% !important;
        right: unset !important;
    }

    [class*="BunchPokemonAdded"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="BunchPokemonRemoved"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="TradeShopImported"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="DeleteAllConfirm"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="DeleteAllSuccess"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="BunchesMoveHelp"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="TrackingInformation"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }
}

#NotificationArea{
    position: fixed; 
    display: none;
    height: 100%;
    z-index: 10;
    width:100%;
    overflow: auto;
}

.SelectionHelp{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 10%;
    text-align: center;
}

.NA-SelectionText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-SelectionClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.ViewingAdditionalHelp{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 30%;
    text-align: center;
}

.NA-ViewingAdditionalText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-ViewingAdditionalClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.ViewingConfirmDelete{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 50%;
    text-align: center;
}

.NA-ConfirmDeleteButtons{
    position: relative;
    width: 100%;
    top: 10px;
    text-align: center;
}

.NA-ConfirmDeleteText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-ConfirmDeleteButton{
    position: relative;
}

.NA-CloseConfirmButton{
    position: relative;
}

.ViewingPokemonAdded{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 50%;
    text-align: center;
}

.NA-PokemonAddedText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-PokemonAddedClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.CreationPokemonError{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 40%;
}

.NA-CreationPokemonText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.NA-CreationPokemonClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.TemplateHelpInfo{
    position: absolute;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 130px;
    right: 50px;
    text-align: center;
}

.NA-TemplateHelpText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-TemplateHelpClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.TemplateAdded{
    position: absolute;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 130px;
    right: 50px;
    text-align: center;
}

.NA-TemplateAddedText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-TemplateAddedClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.TemplateRemoved{
    position: absolute;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 130px;
    right: 50px;
    text-align: center;
}

.NA-TemplateRemovedText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-TemplateRemovedClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.TemplateAddedError{
    position: absolute;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 130px;
    right: 50px;
    text-align: center;
}

.NA-TemplateAddedErrorText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-TemplateAddedErrorClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.TemplateRemovedError{
    position: absolute;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 130px;
    right: 50px;
    text-align: center;
}

.NA-TemplateRemovedErrorText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-TemplateRemovedErrorClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.BunchIconError{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 40%;
}

.NA-BunchIconText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.NA-BunchIconClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.BunchPokemonAdded{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 50%;
    text-align: center;
}

.NA-BunchAddedText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-BunchAddedClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.BunchPokemonRemoved{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 50%;
    text-align: center;
}

.NA-BunchRemovedText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-BunchRemovedClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.TradeShopImported{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 50%;
    text-align: center;
}

.NA-ImportedSuccessText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-ImportedSuccessClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.DeleteAllConfirm{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 50%;
    text-align: center;
}

.NA-DeleteAllButtons{
    position: relative;
    width: 100%;
    top: 10px;
    text-align: center;
}

.NA-DeleteAllText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    color: crimson;
}

.NA-ConfirmDeleteAll{
    position: relative;
}

.NA-CloseDeleteAll{
    position: relative;
}

.DeleteAllSuccess{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 300px;
    top: 50%;
    text-align: center;
}

.NA-SuccessDeleteAllText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-SuccessDeleteAllClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.BunchesMoveHelp{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 50%;
    text-align: center;
}

.NA-BunchMoveHelpText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.NA-BunchMoveHelpClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.TrackingInformation{
    position: relative;
    display: none;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(192 192 192 / 95%);
    padding: 10px;
    width: 500px;
    top: 40%;
}

.NA-TrackingHelpText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.NA-TrackingHelpClose{
    position: relative;
    display: block;
    margin: auto;
    top: 10px;
}

.LoadingData{
    position: relative;
    display: none;
    margin: auto;
    padding: 10px;
    width: 300px;
    top: 25%;
    text-align: center;
}

.NA-LoadingImage{
    position: relative;
    display: block; 
    max-width: 256px; 
    max-height: 256px;
    margin: auto;
}

.NA-LoadingText{
    position: relative;
    display: block;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

/*.NA-LoadingText{
    position: relative;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    top: 10px;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}*/