@media only screen and (max-width: 768px) {
    [id*="PanelArea"] {
        height: auto !important;
        top: 80% !important;
        width: 100% !important;
    }

    [class*="PA-SettingsPanel"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="PA-PanelPositionButton"] {
        pointer-events: none !important;
        background-color: #1e1e1e !important;
    }

    [class*="PA-HoverButton"] {
        pointer-events: none !important;
        background-color: #1e1e1e !important;
    }

    [class*="PA-TradeShopPanel"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        min-height: 170px !important;
        position: unset !important;
        overflow: unset !important;
    }

    [class*="PA-Message"] {
        top: 0 !important;
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="PA-GeneratedBunches"] {
        top: 15px !important;
    }

    [class*="PA-ImportingPanel"] {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        overflow: unset;
        height: unset;
    }
}

#PanelArea {
    position: absolute;
    display: none;
    background-color: #1a233a;
    width: 420px;
    height: calc(100% - 52px);
    right: 0;
    z-index: 1;
    overflow: auto;
    margin-top: 52px;
    border-color: rgb(55, 58, 109);
    border-width: 2px;
    border-style: solid;
    background: url(https://poketrades.org/Resources/Designs/Sidebar.png);
}

.PA-ButtonDesign {
    border-radius: 5px;
    background: url(https://poketrades.org/Resources/Designs/Stat_Data_Holder.png);
    background-size: contain;
    border-color: #3d429c;
    border-width: 2px;
    border-style: solid;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #dbdbdb;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
}

.PA-TradeShopPanel {
    /*background-color: #2E2D2D;*/
    z-index: 1;
    height: 100%;
    min-height: 275px;
    width: 420px;
    right: 0;
    display: none;
    position: fixed;
    overflow: auto;
    position: absolute;
    margin-bottom: 52px;
}

.PA-SearchInfo {
    text-align: center;
    margin: auto;
    bottom: 100px;
}

.PA-Searchbar {
    color: white;
    background: linear-gradient(0deg, rgb(149 149 149 / 30%), rgb(255 255 255 / 20%));
    border-radius: 5px;
    font-weight: bold;
}

.PA-TradeShopClose {
    /*visibility: hidden;*/
    height: 23px;
}

.PA-TradeShopInfo {
    position: relative;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.PA-UserID {
    position: relative;
    opacity: 0%;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.PA-Message {
    position: relative;
    display: block;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto;
    font-weight: normal;
    font-family: monospace;
    font-size: 13px;
    padding: 10px;
    width: 380px;
    top: 35px;
    color: #e2e2e2;
    background: #2a3267;
    border: #585858;
    border-style: solid;
}

.PA-BunchHelpButton {

    display: none;
    background: #171d2c;
    border-width: 2px;
    border-style: solid;
    border-color: #2e3850;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #536c9f;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;

}

.PA-BunchHelp {
    position: relative;
    display: block;
    max-width: 22px;
    max-height: 22px;
    align-items: center;
}

.PA-BunchHolder {
    box-shadow: rgb(175 153 70) 3px 3px 1px 0px;
    /*background-color: rgb(38 45 64);*/
    /*background-color: rgb(41 49 68);*/
    border-radius: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('https://poketrades.org/Resources/Designs/BunchHolder.png');
}

.PA-GeneratedBunches {
    position: relative;
    top: 60px;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-left: 5px;
    margin-right: 10px;
}

.PA-ForTradeBunchEdit {
    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    height: 23px;
    background-size: contain;
    border-width: 2px;
    border-style: solid;
    border-color: #2e3850;
    margin-top: 20px !important;
    width: 185px;
    text-align: center;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    color: #e0e0e0;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;
}

.PA-ForTradeBunchMove {
    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    height: 23px;
    background-size: contain;
    border-width: 2px;
    border-style: solid;
    border-color: #2e3850;
    margin-top: 20px !important;
    width: 185px;
    text-align: center;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    color: #e0e0e0;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;
}

.PA-FTAvailableBunchesText {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.PA-LookingForBunchEdit {
    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    height: 23px;
    background-size: contain;
    border-width: 2px;
    border-style: solid;
    border-color: #2e3850;
    margin-top: 20px !important;
    width: 185px;
    text-align: center;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    color: #e0e0e0;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;
}

.PA-LookingForBunchMove {
    background: url('https://poketrades.org/Resources/Designs/Stat_Data_Holder.png');
    height: 23px;
    background-size: contain;
    border-width: 2px;
    border-style: solid;
    border-color: #2e3850;
    margin-top: 20px !important;
    width: 185px;
    text-align: center;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    color: #e0e0e0;
    cursor: pointer;
    margin: 3px;
    box-shadow: rgb(17 23 37) 1px 2px 0px 1px;
    border-radius: 5px;
}

.PA-LFAvailableBunchesText {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ForTradeContainer {
    /*background-color: #2E2D2D;*/
    display: grid;
    /* auto-fill into of auto-fit so it starts from the corner of the screen*/
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* this is so it fills all available space without an parts being cut off on any device*/
    height: inherit;
    /* needing to prevent bunches and to an slight extent mons looking crowded*/
    grid-gap: 1rem;
    place-items: center;
}

#LookingForContainer {
    /*background-color: #2E2D2D;*/
    display: grid;
    /* auto-fill into of auto-fit so it starts from the corner of the screen*/
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* this is so it fills all available space without an parts being cut off on any device*/
    height: inherit;
    /* needing to prevent bunches and to an slight extent mons looking crowded*/
    grid-gap: 1rem;
    place-items: center;
    padding-bottom: 10px;
}

.theText {
    position: relative;
    margin: 0%;
    color: white;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    /* This is for PC only as otherwise text between the grid columns look too crowded*/
    font-size: 11px;
    padding-bottom: 5px;
    width: 90%;
}

.PA-SettingsPanel {
    z-index: 1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 380px;
    right: 0;
    padding: 10px;
    overflow: auto;
    display: none;
}

.PA-PreviewText {
    display: block;
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.PreviewAlign {
    top: 30px;
    margin: auto;
}

.PA-BallButton {
    cursor: pointer;
}

.PA-GenderButton {
    cursor: pointer;
}

.PA-ShinyButton {
    cursor: pointer;
}

.PA-MintButton {
    cursor: pointer;
}

.PA-MiscButton {
    cursor: pointer;
}

.PA-MarkButton {
    cursor: pointer;
}

.PA-BallImage {
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-GenderImage {
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-ShinyImage {
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-MintImage {
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-MiscImage {
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-MarkImage {
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-IVsText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.SettingsAlign {
    top: 70px;
    margin: auto;
    width: 65%;
}

.PA-OtherSettingsText {
    display: block;
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 55px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.PA-DexNumberText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.PA-DexNumberButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-AdvancedPreviewText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.PA-AdvancedPreviewButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-OldSpritesText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.PA-GenerationalSpritesButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-InitialPromptText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.PA-InitialPromptButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-ExtraViewingsText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-ExtraViewingsButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-PanelPositionText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-PanelPositionButton {
    width: 48px;
    height: 22px;
}

.PA-HoverText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-HoverButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-ExactIVsText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-ExactIVsButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-EmptyBunchesText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-EmptyBunchesButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-ExpandViewText {
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-ExpandViewButton {
    width: 48px;
    height: 22px;
    cursor: pointer;
}

.PA-CloseSettings {
    display: block;
    cursor: pointer;
    top: 100px;
    margin: auto;
    margin-bottom: 30px;
}

.PA-ImportingPanel {
    z-index: 1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 380px;
    right: 0;
    padding: 10px;
    overflow: auto;
    display: none;
}

.PA-ImportingText {
    position: relative;
    display: block;
    color: #afafaf;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    overflow: auto;
}