
@media only screen and (max-width: 768px) {
    [id*="PanelArea"]{
      height: auto !important;
      top: 80% !important;
      width: 100% !important;
    }

    [class*="PA-WhatsNewPanel"]{
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="PA-SettingsPanel"]{
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="PA-PanelPositionButton"]{
        pointer-events: none !important;
        background-color: grey !important;
        border: none !important;
    }

    [class*="PA-HoverButton"]{
        pointer-events: none !important;
        background-color: grey !important;
        border: none !important;
    }

    [class*="PA-TradeShopPanel"]{
        width: -webkit-fill-available !important;
        width: -moz-available !important;
        min-height: 170px !important;
        position: unset !important;
        overflow: unset !important;
    }

    [class*="PA-Message"]{
        top: 0 !important;
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="PA-GeneratedBunches"]{
        top: 15px !important;
    }

    [class*="PA-FAQPanel"]{
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }

    [class*="PA-ImportingPanel"]{
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }
}

#PanelArea{
    position: absolute;
    display: block;
    /*background-color: #2E2D2D;*/
    width: 420px;
    right: 0;
    z-index: 1;
}

.PA-WhatsNewPanel{
    background: rgb(192 192 192 / 95%);
    /*height: 100%;*/
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 380px;
    right: 0;
    padding: 10px;
    margin: 10px;
    /*visibility: hidden;*/
}

.WhatsNewText{
    position: relative;
    display: block;
    color: black;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
}

.PA-TradeShopPanel{
    background-color: #2E2D2D;
    z-index: 1;
    height: 100%;
    min-height: 275px;
    width: 420px;
    right: 0;
    display: none;
    position: fixed;
    overflow: auto;    
}

.PA-SearchInfo{
    text-align: center;
    margin: auto;
    bottom: 100px;
}

.PA-TradeShopInfo{
    position: relative;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.PA-UserID{
    position: relative;
    opacity: 0%;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.PA-Message{
    position: relative;
    display: block;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    width: 380px;
    top: 50px;
    color: black;
}

.PA-GeneratedBunches{
    position: relative;
    top: 75px;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.PA-ForTradeBunchEdit{
    margin-top: 20px;
    pointer-events: none;
    background-color: grey;
    border: none;
}

.PA-FTAvailableBunchesText{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.PA-LookingForBunchEdit{
    margin-top: 20px;
    pointer-events: none;
    background-color: grey;
    border: none;
}

.PA-LFAvailableBunchesText{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align-last: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ForTradeContainer{
    background-color: #2E2D2D;
    display: grid;
    /* auto-fill into of auto-fit so it starts from the corner of the screen*/
    grid-template-columns: repeat( auto-fill, minmax(100px, 1fr) );
    /* this is so it fills all available space without an parts being cut off on any device*/
    height: inherit;
    /* needing to prevent bunches and to an slight extent mons looking crowded*/
    grid-gap: 1rem;
    place-items: center;
}

#LookingForContainer{
    background-color: #2E2D2D;
    display: grid;
    /* auto-fill into of auto-fit so it starts from the corner of the screen*/
    grid-template-columns: repeat( auto-fill, minmax(100px, 1fr) );
    /* this is so it fills all available space without an parts being cut off on any device*/
    height: inherit;
    /* needing to prevent bunches and to an slight extent mons looking crowded*/
    grid-gap: 1rem;
    place-items: center;
}

.theText{
    position: relative;
    margin: 0%;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* This is for PC only as otherwise text between the grid columns look too crowded*/
    font-size: 70%;
    padding-bottom: 5px;
    width: 90%;
}

.PA-FAQPanel{
    background: rgb(192 192 192 / 95%);
    z-index: 1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 380px;
    height: 100%;
    right: 0;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    display: none;    
}

.PA-SettingsPanel{
    background: rgb(192 192 192 / 95%);
    z-index: 1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 380px;
    min-height: 540px;   
    right: 0;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    display: none; 
}

.PA-PreviewText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 10px;
    text-align: center;
}

.PreviewAlign{
    position: relative;
    top: 30px;
    margin: auto;
}

.PA-BallImage{
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-GenderImage{
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-ShinyImage{
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-MintImage{
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-MiscImage{
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-MarkImage{
    max-width: 24px;
    max-height: 24px;
    vertical-align: bottom;
}

.PA-IVsText{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.SettingsAlign{
    position: relative;
    top: 70px;
    margin: auto;
    width: 55%;
}

.PA-OtherSettingsText{
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 55px;
    text-align: center;
}

.PA-AdvancedPreviewText{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.PA-AdvancedPreviewButton{
    width: 48px;
    height: 22px;
}

.PA-PanelPositionText{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-PanelPositionButton{
    width: 48px;
    height: 22px;
}

.PA-HoverText{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-HoverButton{
    width: 48px;
    height: 22px;
}

.PA-ExactIVsText{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-ExactIVsButton{
    width: 48px;
    height: 22px;
}

.PA-EmptyBunchesText{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 24px;
}

.PA-EmptyBunchesButton{
    width: 48px;
    height: 22px;
}

.PA-CloseSettings{
    position: relative;
    display: block;
    top: 100px;
    margin: auto;
}

.PA-ImportingPanel{
    background: rgb(192 192 192 / 95%);
    z-index: 1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 380px;
    height: 100%;
    right: 0;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    display: none;
}

.PA-ImportingText{
    position: relative;
    display: block;
    color: black;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
}