body {
    /*height: 100vh;*/
    display: block;
    align-items: center;
    /*background: linear-gradient(to top left, #28b487, #7dd56f);*/
    background: rgb(0, 0, 0);
    overflow: auto;
    margin: 0;
  }

  @media only screen and (max-width: 768px) {
    [id*="SA-TopRow"]{
      margin-bottom: 5px !important;
    }
    [class*="SA-Bunch"]{
      display: flex !important;
      width: 100% !important;
      place-content: center;
    }
    [class*="SA-Searchbar"]{
      display: flex !important;
      width: -webkit-fill-available;
      width: -moz-available;
      align-items: center;
    }
    [class*="SelectionButtons"]{
      bottom: 0% !important;
      left: 0% !important;
      display: flex !important;
      width: 100% !important;
      place-content: center;
    }
    [id*="GridContainer"]{
      /* larger font size is looks better on mobile devices*/
      font-size: 3vw;
      /* Spacing issues aren't an issue on mobile devices*/
      grid-gap: 0rem !important;
      /* 110 isn't need on mobile, but 100 is too crowded with preview icons on desktop*/
      grid-template-columns: repeat( auto-fill, minmax(100px, 1fr) ) !important; 
    }
  }

  #SelectionArea{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: none;
  }

  .theText{
    position: relative;
    margin: 0%;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* This is for PC only as otherwise text between the grid columns look too crowded*/
    font-size: 1.5vh;
  }

  #SA-TopRow{
    /* sticky and 0; are so it acts like its fixed, as fixed has issues with overflow elements*/
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    /* So it doesn't look crowded at the top with tall icons*/
    margin-bottom: 20px;
  }

  .SelectionButtons{
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: initial;
  }

  #GeneratedSelection{
    overflow: auto;
    z-index: -1;
  }

  .SA-Bunch{
    position: relative;
    color: #E1E15A;
    background-color: black;
    opacity: 0%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /*So it doesn't cut into the top part of the outline in the top Row*/
    top: 2px;
    width: auto;
  }

  .SA-ExitBunch{
    position: relative; 
    /*visibility: hidden*/;
    pointer-events: none;
    background-color: grey;
    height: 22px;
    border: none;

  }

  .SA-CreateButton{
    position: relative; 
    pointer-events: none;
    background-color: grey;
    height: 22px;
    border: none;
  }

  .SA-MoveButton{
    position: relative; 
    pointer-events: none;
    background-color: grey;
    width: 54px;
    height: 22px;
    border: none;
  }

  .SA-MainMenu{
    position: relative;
    background-color: #efefef;
    height: 22px;
    border: none;
  }

  .SA-FiltersButton{
    position: relative; 
    background-color: #efefef;
    height: 22px;
    border: none;
  }

  .SA-Searchbar{
    position: relative; 
  }

  #GridContainer{
    display: grid;
    /* auto-fill into of auto-fit so it starts from the corner of the screen*/
    grid-template-columns: repeat( auto-fill, minmax(110px, 1fr) );
    /* this is so it fills all available space without an parts being cut off on any device*/
    height: -webkit-fill-available;
    /* needing to prevent bunches and to an slight extent mons looking crowded*/
    grid-gap: 1rem;
    place-items: center;
  }

  .GenerationGridDiv{
    /* for some reason this centers the image which is needed*/
    text-align-last: center;
  }

  .TextColour{
      color: cornsilk;
  }

  .TopText{
    color: cornsilk;
  }

